<div class="container">
  <div class="row" style="margin-top: 40px;">
    <div class="box col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">My Movies</div>
        <div class="panel-body_index">
            <div class="movies_list">
              <% if @movies.all.any? %>
                <% if @movies.all.count > 5 %>
                  <% 6.times do |i|%>
                     <div class = "movie_index_img">
                        <img src= <%= @movies[i].image %> >
                     </div>
                    <% end %>
                <% else %>
                  <% @movies.each do |movie| %>
                    <% unless movie.nil? %>
                       <div class = "movie_index_img">
                         <img src= <%= movie.image %> >
                       </div>
                    <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="box col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><h2>Create new Movie</h2></div>
        <div class="panel-body">
          <div id="chartContainer2" style="height: 250px;">
            <div class="form">
              <%= form_for @movie, remote:true do |f| %>
                <div class= "form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class:"form-control", placerholder:"Title:"%>
                  <%= content_tag :div, class: "", data: {datas: Movie.all} do %>
                  <% end %>
                </div>
                <div class= "form-group">
                  <%= f.label :synopsis %>
                  <%= f.text_field :synopsis, class:"form-control", placerholder:"Description:"%>
                </div>
                <div class= "form-group row">
                  <div class="col-xs-4">
                    <%= f.label :country %>
                    <%= f.text_field :country, class:"form-control", placerholder:"Country:"%>
                  </div>
                  <div class="col-xs-8">
                    <%= f.label :genres %>
                    <%= f.text_field :genres, class:"form-control", placerholder:"Genres:"%>
                  </div>
                </div>
                <div class= "form-group">
                  <%= f.label :image %>
                  <%= f.text_field :image, class:"form-control", placerholder:"Upload Image:"%>
                </div>
                <div class= "form-group row">
                  <div class="col-xs-4">
                    <%= f.label :duration_min %>
                    <%= f.text_field :duration_min, class:"form-control", placerholder:"Duration:"%>
                  </div>
                  <div class="col-xs-4">
                    <%= f.label :score %>
                    <%= f.text_field :score, class:"form-control", placerholder:"Score:"%>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.submit "Create Movie", class:"btn btn-primary"%>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>